// ==============================
// Override Variables
// ==============================
$global-background-color-dark:#151949;
$header-background-color-dark:#09113D;
$global-font-color-dark: #fff;
$global-font-secondary-color-dark:#a9a9b3;
$global-link-color-dark: #0086c1;
