// ==============================
// Override Variables
// ==============================
// $header-background-color:#a9a9b3;
$global-background-color-dark:#0a0c25;
$header-background-color-dark:#111737;
$global-font-color-dark: #fff;
$global-font-secondary-color: #414149;
$global-font-secondary-color-dark:#a9a9b3;
$global-link-color: #111737;;
$global-link-color-dark: #fff;
$global-link-hover-color: #65c9ff;
$global-link-hover-color-dark: #65c9ff;
$single-link-color: #00466B;
$single-link-color-dark: #fff;
$search-background-color-dark: #202750;