// ==============================
// Override Variables
// ==============================
$global-background-color-dark:#0a0c25;
$header-background-color-dark:#111737;
$global-font-color-dark: #fff;
$global-font-secondary-color-dark:#a9a9b3;
$global-link-color-dark: #65c9ff;
